.login-header{
}
.baap{
  position: relative;
  top: 100px;
}

.gameon{
  position: relative;

  right: 300px;
}
.onemore{
  position: relative;
  bottom: 450px;
  left: 800px;
}
.inputs{
  text-align: center;
  margin: 20px;
}
.whitebox{
  height: 300px;
  background-image: url("/images/login.png");
}

.auth{
  font-size: 25px;
  text-align: left;
}

input{
  background-color: #848790;
  opacity: 0.7;
  border-color: #b21cea;
  border-width: 3px;
}

.button{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 3px solid #FBC217;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button:hover{
  background-color: #FBC217 ;
  color: black;
}

.chotabaap{
  text-align: left;
}

.whitebg{
  opacity: 0.2;
  position:relative;
  left: 145px;
}

.bada{
  position:relative;
  bottom:420px;
}
.bada-register{
  position:relative;
  bottom:500px;
}
