body {
    background-color: #333;
}
#bg_body{
    height: 100vh;
    position: relative;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bg_body_2{
    height: 120vh;
    position: relative;
    background-image: url("/images/games_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#main_container-1{
    height: 100vh;
}
#main_container-2{
    height: 120vh;
}
/**************menu part*****************/
.main_menu {
position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.main_menu .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0px;
}
.main_menu .navbar {
  padding: 0px;
  padding-top: 10px;
}
.main_menu .main-menu-item {
  justify-content: center;
}
.main_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
}
.main_menu .main-menu-item ul li .nav-link:hover {
  color: #fff;
}
.main_menu .main-menu-item .nav-item a {
  position: relative;
  z-index: 1;
}
.main_menu .main-menu-item .nav-item a:before {
  position: absolute;
  left: 16%;
  top: 49px;
  width: 0%;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main_menu .main-menu-item .nav-item a:hover:before {
  width: 67%;
}
.main_menu #search_1 i {
  color: #fff;
}
.main_menu .dropdown-toggle:hover .nav-item .dropdown {
  color: #ff0000 !important;
}
.main_menu #search_input_box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1140px;
  z-index: 999;
  text-align: center;
  background: #ff0000;
}
.main_menu #search_input_box ::placeholder {
  color: #fff;
}
.main_menu #search_input_box .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
}
.main_menu #search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}
.main_menu #search_input_box .ti-close {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
}
.main_menu .search-inner {
  padding: 5px 5px;
}
.main_menu .form-control:focus {
  box-shadow: none;
}
.main_menu .active_color {
  color: #f5790b !important;
}

.nav_1>a{
  margin-left: 5px;
}
.btn_1 {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff0000), color-stop(51%, #c6019a), to(#ff0000));
  background-image: linear-gradient(to right, #B983FF 0%, #6E3CBC 51%, #753188 100%);
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn_1 {
  display: inline-block;
  padding: 18.5px 40px;
  border-radius: 0;
  font-size: 30px;
  font-family: "Aclonica", sans-serif;
  font-weight: 500;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  text-align: center;
}
.main_menu .main-menu-item {
    justify-content: center;
}
.main_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
}
.main_menu .main-menu-item .nav-item a {
  position: relative;
  z-index: 1;
}
.single_page_menu .main-menu-item .nav-item a {
  position: relative;
  z-index: 1;
}
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  background-color: #222831 !important;
}
.grid-container{
    display: grid;
    grid-template-columns: 25vw 74vw;
    grid-template-rows: 7vh 7vh 5vh;
}
.grid-container-2{
    display: grid;
    grid-template-columns: 25vw 74vw;
    grid-template-rows: 10vh 7vh 5vh;
  }

  #grid-item-1{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
#grid-item-2{
    grid-column: 2 / 3;
  }
#grid-item-3{
  grid-column: 2 / 3;
}
#grid-item-4{
    grid-column: 2 / 3;
  }
  #grid-item-7{
    height: 50%;
    position: relative;
    margin-left: 45vw;
    color: white;

  }
#grid-item-8{
  height: 50%;
    position: relative;
    margin-left: 15vw;
    margin-top: -10vh;
    color: white;
  }
#grid-item-1 > a > img{
    height: 70%;
    width: auto;
    display: block;
    margin: 7.5% auto;
  }

#login-signup {
    height: 7vh;
    width: 100%;
    position: relative;
    display: inline;
    margin-left: 40vw;
    margin-right: 0vw;
    /* right: 0; */
}
#login-signup > div{
  height: 4.5vh;
  font-size: 2.5vh;
  display: inline-block;
  padding: auto;
  margin: 2.5vh 5vw 1.5vh 2vw;
  border: 0.3vh solid #c5b45b;
}
#login-signup > div > a {
  display: inline-block;
  padding: 0vh 10px;
    text-decoration: none;
    color: white;
  }
  #login-signup>div:hover{
    background-color: #FAC213;
  }
#login-signup>div>a:hover{
    font-weight: 500;
    color: black;
}

.nav {
  height: 7vh;
  width: 100%;
  position: relative;
  /* margin-left: 10vw;
  margin-top: 1vh; */
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  width: 100%;
  margin: 0vh 10vw;
  font-family: 'Montserrat', sans-serif;
    /* font-size: 50px; */
  }

  .nav-links {
    height: 35px;
    display: inline-block;
    padding: auto;
    margin: 1.5vw 3.0vw;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
  }
  .diff{
    padding-top: 5px;
  }
.nav-links > a {
    display: inline-block;
    padding: 0vh 1vw;
    text-decoration: none;
    color: white;

  }
  /*9900F0*/

  .nav-links:hover {
    background-image: linear-gradient(to right, #293462 0%, #000B49 51%, #06283D 100%);
    border: 0.4vh solid #aa34de;
}
.nav-links> a:hover {
    font-weight: 500;
    color: black;
  }
.login{
  margin: 15px 0 0 5vw;
  height: 50px;
}
.signup{
  width: 150px;
}
.nav > #nav-check {
    display: none;
  }
#description{
  padding-top: 30vh;
    margin-left: 18vw;
  }
#head1{
    color: white;
    font-size: 8vh;
}
#head2{
    height: 8vh;
    color: #aa34de;
    font-size: 8vh;
}
#content{
    color: #a6aeb9;
    font-size: 3.5vh;
}
#letsplay{
    color: white;
    font-size: 4vh;
    border: 0.4vh solid #aa34de;
    display: inline-block;
    padding: 2vh 3vw;
    margin: 3vh 0 0 0;
  }
#letsplay:hover{
    background-image: linear-gradient(to right, #B983FF 0%, #8A39E1 51%, #7A0BC0 100%);
  cursor: pointer;
}
#section2{
    height: 100vh;
  }
  #section2>#container-mid>div{
    color: #FAC213 !important;

  }
#background{
    height: 5%;
  }
  .hr{
    background-color: #dadde1;
    color: #FAC213;
    width:80%;
    margin-left: 10%;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
#container-mid{
  margin: 10vh 10vw 7vh 10vw;
}
#container-mid>div{
    display: inline-block;
    width: 10vw;
    text-align: center;
    margin: 0 7.5vw;
}
#container-mid>div>p{
    font-size: 1.5vw;
  }
#container-mid>div>i{
  color: white;
}
#hr2{
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
    margin-bottom: 10vh;
}
.icons{
    font-size: 3em !important;
  }
  .end{
    margin-top: 10vh;
    width: 66%;
    color: #dadde1;
}
.copyright{
  text-align: center;
  margin-top: 7vh;
    background-color: #0E1A23;
    padding-bottom: 10vh;
    color: #dadde1;
}

/* ------------------------------------------------------------------------------------------ */
/* games.html */
input[type=radio] {
    display: none;
}

.mycard {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .mycontainer {
    width: 100%;
    height: auto;
  transform-style: preserve-3d;
  margin: 5vh 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.game_slides{
  padding-top: 20vh;
}
.mycards {
  position: relative;
  width: 55vw;
  height: 65vh;
  margin-bottom: 20px;
}

.card>img {
  width: 100%;
    height: 30vh;
    border-radius: 10px;
}
#item-1:checked ~ .mycards #game_card-4, #item-2:checked ~ .mycards #game_card-1, #item-3:checked ~ .mycards #game_card-2, #item-4:checked ~ .mycards #game_card-3 {
    transform: translatex(-80%) scale(0.8);
    opacity: 0.7;
    z-index: 0;
  }

#item-1:checked ~ .mycards #game_card-2, #item-2:checked ~ .mycards #game_card-3, #item-3:checked ~ .mycards #game_card-4, #item-4:checked ~ .mycards #game_card-1 {
    transform: translatex(80%) scale(0.8);
    opacity: 0.7;
    z-index: 0;
}

#item-1:checked ~ .mycards #game_card-1, #item-2:checked ~ .mycards #game_card-2, #item-3:checked ~ .mycards #game_card-3, #item-4:checked ~ .mycards #game_card-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
    z-index: 1;
}
#item-1:checked ~ .mycards #game_card-1 img, #item-2:checked ~ .mycards #game_card-2 img, #item-3:checked ~ .mycards #game_card-3 img, #item-4:checked ~ .mycards #game_card-4 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }

@media (max-width:1200px) {
  .login{
    margin: 15px 2px 0 0;
  }
}
@media (max-width:1180px) {
    .nav>.nav-links{
        margin: 0;
      }
    #container-mid>div>p{
        font-size: 2vw;
      }
      .card_content{
        font-size: 1.5vw;
      }
}
@media (max-width:820px) {
    #login-signup{
        margin-left: 35vw;
    }
}
@media (max-width:760px) {
  #description{
    margin-left: 10vw;
    }
    .icons{
      font-size: 2em !important;
    }
    #container-mid{
        margin-left: 10vw;
    }
    #container-mid>div{
      margin: 0 7.5vw;
    }
    #login-signup{
        margin-left: 30vw;
    }
    #container-mid>div>p{
        font-size: 3vw;
    }
    .card_content{
        font-size: 2vw;
    }
    .mycontainer{
      height: 80vh !important;
    }
    .mycards{
        height: 100% !important;
    }
}
@media (max-width:620px) {
    .nav-links>div>a{
        font-size: 2vw;
      }
}
@media (max-width:560px) {
    #login-signup{
        margin-left: 15vw;
      }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 2vw;
      top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width:25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: initial;
        width: 90%;
        background-color: #0E1A23;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 40px;
        left: 0px;
    }
    .nav>.nav-links>div{
        width: 90%;
        text-align: center;
    }
    .nav > .nav-links > a {
      display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(30vh - 50px);
      overflow-y: auto;
    }
    #contact{
      padding-left: 140px;
      padding-bottom: 20px;
    }
    #games{
      padding-left: 140px;
      padding-bottom: 20px;
    }
    #reviews{
      padding-left: 140px;
    }
    #container-mid>div>p{
      font-size: 4vw;
        margin-left: -15px;
    }
    #section2{
        height: 120vh;
        color: #FAC213;
      }
    #main_container-1{
      background-image: url("/images/background04.jpg");
    }
    .card_content{
      font-size: 2.5vw;
    }
}
@media only screen and (max-width: 600px) {
  .mycontainer{
    height: 100vh;
  }
  .mycards{
    width: 85vw;
    height: 62vh;
  }
  .mycard>img{
    width: 85vw;
    height: 62vh;
  }
}
@media (max-width: 991px) {
  .main_menu #search_input_box {
    margin-top: 15px;
  }
  .main_menu {
    padding: 26px 0px;
  }
  .home_menu .main-menu-item {
    padding-left: 0px;
  }
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  .main_menu .main-menu-item .nav-item .nav-link {
    padding: 0 15px !important;
    color: #000;
    text-align: center;
  }
  .nav-links {
    text-align: center;
  }
  .diff{
        padding-top: 5px;
  }
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: #E1E5EA;
    text-align: center !important;
  }
  .nav-links:hover {
    background-image: linear-gradient(to right, #73777B 0%, #52575D 51%, #393E46 100%);
    color: white;
    border: 0.3vh solid #2B2B2B;
}
  .navbar-brand img {
    max-width: 100px;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .menu_icon i {
    color: #fff;
    width: 50px;
    height: 50px;
  }
  .login{
    margin: 1.5vw 3vw;
    height: 100%;
    display: inline-block;
    width: 94%;
  }
  .btn_1{
    font-size: 20px;
    padding: 0 15px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
}

.game_head{
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 3.5em;
  letter-spacing: 5px;
  font-family: 'Nunito Sans', sans-serif;
}

.mycontainer{
  padding-top: 40px;
}
.games_section{
  background-image: url("/images/gamesbg.png");
  padding-bottom: 20px;
}

.hi{
  color: #8A39E1;
}
