@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro:wght@600&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* .board{
    display: none;
} */

#board{
    height: 720px;
    width: 720px;
    background-color: rgb(108, 108, 238);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 90px;
    width: 90px;
    background-color: rgb(20, 123, 20);
    border-color: black;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: rgb(20, 123, 20);
    border: none;
    /* border: 1px solid black; */
}

.blackPiece{
    background-color: black;
}

.blackHint{
    border: 1px solid;
    border-color: black;
}

.whitePiece{
    background-color: white;
}

.whiteHint{
    border: 1px solid;
    border-color: white;
}

#result{
    display: none;
    height: 540px;
    width: 630px;
    background-color: beige;

}