<% layout('layout/boilerplate.ejs') %>

<div id="description">
  <p id="head1">ENGAGING THROUGH</p>
  <p id="head2">PLAY</p>
  <p id="content">
    Our Games Will Entertain Millions <br />of People Everywhere
    Everyday
  </p>
  <div id="letsplay">
    Let's Play <i class="fa-solid fa-gamepad fa-lg"></i>
  </div>
</div>