<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome to _________</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <% if(success && success.length) {%>
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <p><%= success %></p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% if(error && error.length) {%>
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <p><%= error %></p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    
    <section id="main_section">
      <div class="container-fluid" id="main_container-1">
        <div class="grid-container">
          <div id="grid-item-1">
            <a href="#">
              <img src="/images/logo.png" alt="" />
            </a>
          </div>
          <div id="grid-item-2">
            <div id="login-signup">
              <% if(!currentUser) {%>
              <div><a href="/login">Login</a></div>
              <div><a href="/register">Sign Up</a></div>
              <% } else { %>
              <div style="color: white">Hi!, <%= currentUser.username %></div>
              <div><a href="/logout">Logout</a></div>
              <% } %>
            </div>
          </div>
          <div id="grid-item-3">
            <div class="nav">
              <input type="checkbox" id="nav-check" />
              <div class="nav-btn">
                <label for="nav-check">
                  <span></span>
                  <span></span>
                  <span></span>
                </label>
              </div>

              <div class="nav-links">
                <div><a href="/">HOME</a></div>
                <div><a href="/games">GAMES</a></div>
                <div><a href="#">ABOUT</a></div>
                <div><a href="#">CONTACT</a></div>
              </div>
            </div>
          </div>
          <div id="grid-item-4"></div>
        </div>
        <div id="description">
          <p id="head1">ENGAGING THROUGH</p>
          <p id="head2">PLAY</p>
          <p id="content">
            Our Games Will Entertain Millions <br />of People Everywhere
            Everyday
          </p>
          <div id="letsplay">
            Let's Play <i class="fa-solid fa-gamepad fa-lg"></i>
          </div>
        </div>
      </div>
    </section>
    <section id="section2" style="background-color: #19191b">
      <div id="background"></div>
      <hr size="5" class="hr" />
      <div id="container-mid">
        <div id="contact">
          <i class="fa-solid fa-address-card fa-3x center icons"></i><br />
          <p>Contact</p>
        </div>
        <div id="games">
          <i class="fa-solid fa-vr-cardboard fa-3x center icons"></i><br />
          <p>Games</p>
        </div>
        <div id="reviews">
          <i class="fa-solid fa-headset fa-3x center icons"></i><br />
          <p>Reviews</p>
        </div>
      </div>
      <!-- <div id="background"></div> -->
      <hr size="5" class="hr" id="hr2" />
    </section>
    <script src="main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
