<% layout('layout/boilerplate.ejs') %>
<div class="container">
  <div style="height: 100vh; color: white">
    <div class="row" style="margin-bottom: 40px">
      <div class="container baap">
        <div class="col-md-6 offset-3">
          <form
            class="needs-validation"
            action="/register"
            method="post"
            novalidate
          >
            <div class="container whitebox">
              <img
                src="images/login.png"
                class="whitebg"
                alt=""
                height="530px"
                width="300px"
              />
              <div class="bada-register">
                <h1 class="text-center">REGISTER</h1>
                <div class="mb-3 inputs">
                  <label
                    class="form-label auth"
                    for="username"
                    style="position: relative; right: 15px"
                    >USERNAME</label
                  ><br />
                  <input
                    class="form-text inputs"
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Username"
                    required
                  /><br />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3 inputs">
                  <label
                    class="form-label auth"
                    for="email"
                    style="position: relative; right: 40px"
                    >E-MAIL</label
                  ><br />
                  <input
                    class="form-text inputs"
                    type="text"
                    name="email"
                    id="email"
                    placeholder="email"
                    required
                  /><br />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3 inputs">
                  <label
                    for="password"
                    class="form-label auth"
                    style="position: relative; right: 25px"
                    >PASSWORD</label
                  ><br />
                  <input
                    class="inputs"
                    type=" text"
                    name="password"
                    id="password"
                    placeholder="password"
                    required
                  /><br /><br />
                  <div class="valid-feedback">Looks good!</div>
                  <button class="button" type="submit">SUBMIT</button>
                </div>
              </div>
            </div>

            <div class="gameon">
              <img src="images/tag2.png" height="150px" width="150px" alt="" />
            </div>
            <div class="onemore">
              <img src="images/tag1.png" width="180px" height="250px" alt="" />
            </div>

            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
