<% layout('layout/boilerplate.ejs') %>
<div class="container">


<div style=" height: 100vh; color: white;">
  <div class="row" style="margin-bottom: 40px;">
    <div class="container baap">

      <div class="col-md-6 offset-3">
        <form class="needs-validation " action="/login" method="post" novalidate>
        <div class="container whitebox">
          <div class="border-login">
            <img src="images/white.png" class="whitebg" alt="" height=530px width=400px>
          </div>

          <div class="bada-register">
            <h1 class="text-center head">REGISTER</h1>
            <div class="mb-3 inputs">
              <label class="form-label auth" for="username" style="position:relative;right:82px;" >USERNAME</label><br>
              <input class="form-text input-text" type="text" name="username" style="color:black;" id="username" placeholder="Username" required><br>
              <div class="valid-feedback">
                Looks good!
              </div>

            </div>
            <div class="mb-3 inputs">
              <label class="form-label auth" for="email" style="position:relative;right:107px;" >E-MAIL</label><br>
              <input class="form-text input-text" type="text" name="email" style="color:black;" id="email" placeholder="email" required><br>
              <div class="valid-feedback">
                Looks good!
              </div>

            </div>
            <div class="mb-3 inputs">
              <label for="password" class="form-label auth" style="position:relative;right:82px;">PASSWORD</label><br>
              <input class= "form-text input-text" type=" text" name="password" style="color:black;" id="password" placeholder="password" required><br><br>
              <div class="valid-feedback">
                Looks good!
              </div>
              <button class="button" type="submit">SUBMIT</button>
              </div>
          </div>

        </div>






          <br>

        </form>
      </div>
    </div>

    </div>
</div>
</div>
